<settings>
    <setting propertyKey="@Properties.serverUrl" title="Server (Domain genügt, z. B. luftrettung.net)">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.deviceId" title="Geräte-ID">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.apiKey" title="API-Schlüssel">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>
